.line {
   display: grid;
   grid-template-columns: 1em 1fr;
   column-gap: 1em;

   margin: 0;
}

.lineNumber,
.lineContent {
   padding: .25em .5em;
}

.lineNumber {
   user-select: none;
}

.lineContent {
   cursor: text;

   border-radius: var(--borderRadius);
   outline: none;
}

.lineContent:focus {
   background: #eee;
}
