.app {
   min-height: 100vh;

   --border: solid #ebebeb 1px;
   --borderRadius: .125em;
}

.modeButton.modeButton,
.modeButton.modeButton:active {
   color: #fff;

   justify-self: center;

   background: rgb(0, 140, 255);
}

.modeButton.modeButton:focus,
.modeButton.modeButton:hover {
   background: rgb(51, 153, 236);
}
